.header {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  z-index: 2;
  min-height: 400px;
  background-image: linear-gradient(to top, #036bda, #1c549a);

  * {
    box-sizing: border-box;
  }

  img.trigo-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 362px;
  }

  &:after,
  &:before {
    content: " ";
    display: table;
  }
}

.round-addon {
  display: block;
  height: 200px;
  width: 100%;
  background-color: #036bda;
  border-radius: 50%;
  margin-top: -100px;
  box-shadow: 0 9px 19px -3px rgba(0, 0, 0, 0.3);
  transform: scale(1.1, 1.5);
  position: relative;
  z-index: 1;
}