<template>
  <div class="checkout-page">
    <Header class="homeheader">
      <router-link to="/shopping-list" class="back-button">
        <img src="/assets/images/back-angle.svg" alt="">
        <span>Back</span>
      </router-link>
      <img class="trigo-logo" src="/assets/images/tesco-logo.png">
      <p class="text-center">{{renderCurrentDate()}}</p>
      <div class="divider"></div>
      <ShoppingFlow :active="['cart', 'card']"></ShoppingFlow>
    </Header>

    <CheckoutTable></CheckoutTable>
    
    <div class="coupon-wrapper">
      <div class="coupon-number">
        <img src="/assets/images/voucher.svg" alt="@">
        <p>Coupon number:</p>
      </div>
      <div class="input-handler">
        <input v-model="coupon" type="text">
        <img src="/assets/images/checkmark-green.jpg" alt="@">
      </div>
    </div>
    <CheckoutPopup></CheckoutPopup>

    <Footer></Footer>
  </div>
</template>

<script>
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import CheckoutPopup from '../components/CheckoutPopup.vue';
import ShoppingFlow from '../components/ShoppingFlow.vue';
import CheckoutTable from '../components/CheckoutTable.vue';
import CommonMethods from '../mixins/CommonMethods';

export default {
  name: 'Checkout',
  data() {
    return {
      coupon: '35896D',
    }
  },
  mounted() {
    window.scrollTo(0, 0);
    this.sendRequest();
  },
  mixins: [CommonMethods],
  components: {
    Header,
    Footer,
    ShoppingFlow,
    CheckoutPopup,
    CheckoutTable
  }
}
</script>
