<template>
  <div class="home">
    <Header class="homeheader">
      <img class="trigo-logo" src="/assets/images/tesco-logo.png">
        <div class="divider"></div>

        <hgroup class="text-center">
          <h1>pay here</h1>
          <h2>Step with your shopping basket into the marked area</h2>
        </hgroup>
      
    </Header>
    
    <section class="shopping-cart-holder">
      <img class="trigo-logo" src="/assets/images/large-shopping-cart.svg">
    </section>

    <section class="section-padding">
      <button @click="onToShoppingList" class="app-btn-lg checkout-button">
        Go to my shopping list
      </button>
      <button @click="onToCheckout" class="app-btn-lg checkout-button lsb">
        Proceed to checkout
      </button>
    </section>

    <Footer></Footer>
  </div>
</template>

<script>

import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';

export default {
  name: 'home',
  components: {
    Header,
    Footer
  },
  methods: {
    onToShoppingList() {
      this.$router.push({ path: '/shopping-list' })
    },
    onToCheckout() {
      this.$router.push({ path: '/checkout' })
    }
  }
};
</script>

<style scope lang="scss">
  .section-padding {
    padding-left: 61px;
    padding-right: 61px;
    button {
      &:first-of-type {
        margin-top: 140px;
      }
    }
  }
  .lsb {
    margin-bottom: 22px !important;
  }
</style>
