<template>
  <div class="pay-now-page">
    <Header class="homeheader">
      <router-link to="/checkout" class="back-button">
        <img src="/assets/images/back-angle.svg" alt="">
        <span>Back</span>
      </router-link>
      <img class="trigo-logo" src="/assets/images/tesco-logo.png">
      <p class="text-center">{{renderCurrentDate()}}</p>
      <div class="divider"></div>
      <ShoppingFlow :active="['cart', 'card']"></ShoppingFlow>
    </Header>

    <section class="paynow-body text-center">
      <img src="/assets/images/atm-image.svg" alt="@">

      <h1>Pay Here</h1>

      <img class="jump-arrow" src="/assets/images/down-arrow.png" alt="@">
    </section>

    <Footer></Footer>
  </div>
</template>

<script>
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import ShoppingFlow from '../components/ShoppingFlow.vue';
import CommonMethods from '../mixins/CommonMethods';

export default {
  name: 'PayNow',
  created() {
    setTimeout(() => this.$router.push({ path: '/thank-you' }), 5000);
  },
  mixins: [CommonMethods],
  components: {
    Header,
    Footer,
    ShoppingFlow
  }
}
</script>
