<template>
  <div
    ref="container"
    :class="[{ 'with-offset': getSubtotal > 0 }, 'shopping-list']"
  >
    <Header class="homeheader">
      <router-link to="/" class="back-button">
        <img src="/assets/images/back-angle.svg" alt="">
        <span>Back</span>
      </router-link>
      <img class="trigo-logo" src="/assets/images/tesco-logo.png">
      <p class="text-center">{{renderCurrentDate()}}</p>
      <div class="divider"></div>
      <ShoppingFlow :active="['cart']"></ShoppingFlow>
    </Header>

    <section class="cart-items">
      <transition-group name="slide-fade-horizontal" tag="section">
        <template v-if="getTmpProducts.length > 0">
          <CartItem
            :key="product.sku"
            :itemData="product"
            v-for="product in getTmpProducts"
            :onToggle="onToggle"
          ></CartItem>
        </template>
        <template v-else>
          <CartItem
            :key="product.sku"
            :itemData="product"
            :onToggle="onToggle"
            :invokeConfirmation="invokeConfirmation"
            v-for="product in getProducts"
          ></CartItem>
        </template>
        
      </transition-group>
    </section>

    <CartPopup></CartPopup>

    <Footer></Footer>

    <DelConfirmation
      :show="show"
      :itemData="currentItem"
      :onConfirm="onConfirmation"
      :dismissModal="onShowHideModal"
    ></DelConfirmation>
  </div>
</template>

<script>
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import CartItem from '../components/CartItem.vue';
import ShoppingFlow from '../components/ShoppingFlow.vue';
import CartPopup from '../components/CartPopup.vue';
import DelConfirmation from '../components/DelConfirmation.vue';
import CommonMethods from '../mixins/CommonMethods';
import CommonComputed from '../mixins/CommonComputed';

export default {
  data() {
    return {
      currentItem: {},
      show: false,
    };
  },
  mixins: [CommonMethods, CommonComputed],
  methods: {
    invokeConfirmation(item) {
      this.onShowHideModal(item);
    },
    onShowHideModal(item) {
      if(item) {
        this.currentItem = item;
      }

      this.show = !this.show;
    },
    onConfirmation() {
      this.currentItem
      this.$store.dispatch('removeFromCart', this.currentItem.sku);
      this.onShowHideModal();
    },
    onToggle(item) {
      const foundIndex = this.getProducts.findIndex((i) => i.sku === item.sku);
      const foundItem = this.getProducts.find((i) => i.sku === item.sku);
      this.$set(this.getProducts, foundIndex, {
          ...foundItem,
          expanded: foundItem ? !foundItem.expanded : false,
        }
      )
    },
  },
  mounted() {
    // adjust position
    window.scrollTo(0, 0);
    this.sendRequest();
  },
  components: {
    Header,
    Footer,
    ShoppingFlow,
    CartItem,
    CartPopup,
    DelConfirmation,
  },
}
</script>
