<template>
  <div class="thank-you-page">
    <Header class="homeheader">
      <img class="trigo-logo" src="/assets/images/tesco-logo.png">
      <p class="text-center">{{renderCurrentDate()}}</p>
      <div class="divider"></div>
      <ShoppingFlow :active="['cart', 'card', 'check']"></ShoppingFlow>
    </Header>

    <section class="thank-you-body text-center">
      <div :class="{screenReady: screenReady}">
        <lottie :options="defaultOptions" :height="400" :width="400" v-on:animCreated="handleAnimation"/>
        <h1>thank you!</h1>
        <h2>See you soon</h2>
      </div>
    </section>

    <Footer></Footer>
  </div>
</template>

<script>
import lottie from '../components/Lottie.vue';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import ShoppingFlow from '../components/ShoppingFlow.vue';
import CommonMethods from '../mixins/CommonMethods';
import * as dt from '../../mocks/products.json';
import animationData from '../../mocks/checkmarkdata.json';

export default {
  name: 'PayNow',
  data() {
    return {
      screenReady: false,
      defaultOptions: {animationData: animationData},
      animationSpeed: 1
    }
  },
  created() {
    setTimeout(() => this.$router.push({ path: '/' }), 5000);
  },
  mounted() {
    setTimeout(() => this.screenReady = true, 500);
  },
  beforeDestroy() {
    // @TEMPORARY: restore cart state
    const products = dt.map((item) => ({ ...item, expanded: false}));
    this.$store.commit('setProducts', products);
  },
  mixins: [CommonMethods],
  methods: {
    handleAnimation: function (anim) {
      setTimeout(() => {
        this.anim = anim;
        setTimeout(() => {
          this.anim.pause();
        }, 200);
      }, 1000);
    },

    stop: function () {
      this.anim.stop();
    },

    play: function () {
      this.anim.play();
    },

    pause: function () {
      this.anim.pause();
    },
  },
  components: {
    Header,
    Footer,
    ShoppingFlow,
    lottie
  }
}
</script>
