
// simple-fade
.simple-fade-enter-active {
  transition: all .3s ease;
}
.simple-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.simple-fade-enter, .simple-fade-leave-to {
  opacity: 0;
}

// slide-fade
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(50px);
  opacity: 0;
}


// slide-fade-fast
.slide-fade-fast-enter-active {
  transition: all .2s ease;
}
.slide-fade-fast-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-fast-enter, .slide-fade-fast-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

// slide-fade-horizontal
.slide-fade-horizontal-enter-active {
  transition: all .3s ease;
  
}
.slide-fade-horizontal-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  position: absolute;
}
.slide-fade-horizontal-enter, .slide-fade-horizontal-leave-to {
  transform: translateX(50px);
  opacity: 0;
}
.slide-fade-horizontal-move {
  transition: transform .3s;
}


// product-slide
.product-slide-enter-active {
  transition: all .2s ease;
}
.product-slide-leave-active {
  transition: all .2s ease;
}
.product-slide-enter, .product-slide-leave-to {
  transform: translateY(-50px);
  opacity: 0;
}
