.cart-items {
  position: relative;
  z-index: 5;
  padding-left: 61px;
  padding-right: 61px;
  margin-top: -90px;
}

.cartItem {
  @include cf();
  border-radius: 7px;
  background-color: #fff;
  margin-bottom: 54px;
  box-shadow: 0 5px 17px 10px rgba(0, 0, 0, 0.14);

  &.highligted {
    box-shadow: 0 4px 20px 7px rgba(28, 84, 154, 0.31);
    border: solid 3px #1695e9;
  }

  // @FIXME: scale bcoz tomato image seems wrong
  .cartItemHeader {
    > section {
      > img[src$="tomato.png"] {
        max-width: 120px;
      }
    }
  }
}

.cartItemHeader {
  @include cf();
  cursor: pointer;
  height: 210px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  z-index: 2;

  .styled-triangle {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid $darkblue;
    border-left: 3px solid $darkblue;
    transform: rotate(-45deg); // -45 135
    position: absolute;
    right: 67px;
    bottom: 40px;

    &.up {
      transform: rotate(135deg);
    }
  }

  .sku {
    font-size: 14.7px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #a5a5a5;
  }

  h3 {
    margin-top: 0;
    font-size: 29px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;

  }

  > section {
    padding-left: 10px;
    padding-top: 5px;
    height: 100%;

    &:first-of-type {
      max-width: 190px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        max-width: 100%;
        height: auto;
      }
    }

    &.summary {
      padding-left: 54px;
      padding-top: 67px;
      max-width: 380px;
    }

    &.totals {
      min-width: 100px;
      margin-left: auto;
      padding-top: 67px;
      text-align: right;
      padding-left: 0;
      h3 {
        font-size: 32px;
        margin-bottom: 0;
      }
    }

    &.price-section {
      padding-top: 59px;
      padding-left: 80px;
      padding-right: 33px;
      h3 {
        margin: 0;
        font-size: 56.6px;
        font-weight: bold;
        font-style: normal;
        line-height: 50px;
        font-stretch: normal;
        letter-spacing: normal;
        color: $darkblue;
        span {
          font-size: 40px;
          margin-right: 5px;
        }
      }
    }
    
  }
}

.cartItemFooter {
  @include cf();
  background-color: #f9f9f9;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 138px;

  button:first-of-type {
    margin-top: auto;
  }

  > section {
    &:first-of-type {
      width: 230px;
      padding-left: 63px;

      button {
        @include transition();
        width: 59px;
        height: 59px;
        display: block;
        border: none;
        background: url('/assets/images/removeIcon.svg');
        border-radius: 100%;

        &:hover {
          box-shadow: 0 5px 20px rgba(51, 51, 51, 0.25);
        }
      }
    }

    &:last-of-type {
      margin-left: auto;
      margin-right: 28px;

      button {
        @include transition();
        width: 156px;
        height: 72px;
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 36px;
        background-color: $yellow;
        font-size: 43.6px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: -1px;
        color: $darkblue;

        &:hover {
          background: $darkblue;
          color: $yellow;
        }
      }
    }
  }

  .input-group {
    display: flex;
    min-width: 304px;
    height: 62px;
    border-radius: 8.1px;
    border: solid 0.9px $darkblue;
    overflow: hidden;

    span {
      display: flex;
      align-items: center;
      min-width: 180px;
      font-size: 32.3px;
      letter-spacing: normal;
      justify-content: center;
      color: #000;
    }

    button {
      margin-top: 0;
      border: none;
      text-align: center;
      display: flex;
      align-items: center;
      min-width: 61px;
      height: 60px;
      justify-content: center;

      &:before {
        content: " ";
        display: block;
        width: 31.5px;
        height: 3.6px;
        border-radius: 1.6px;
        background-color: $darkblue;
      }

      &:first-of-type {
        border-right: 1px solid $darkblue;
      }
      &:last-of-type {
        border-left: 1px solid $darkblue;
        &:after {
          content: " ";
          display: block;
          height: 31.5px;
          width: 3.6px;
          transform: translateX(-17px);
          border-radius: 1.6px;
          background-color: $darkblue;
        }
      }
    }
  }
}
