.checkout-page {
  min-height: 700px;
  padding-bottom: 250px;

  header {
    padding: 40px !important;
    > img {
      margin-bottom: 50px;
    }
  }

  .round-addon {
    margin-top: -120px;
  }

  .trigo-logo {
    max-width: 295px !important;
  }

  .homeheader {
    color: #fff;
    img {
      + p {
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        color: #ffffff;
      }
    }
  }
}

.checkout-list-items {
  padding-left: 96px;
  padding-right: 96px;
  margin-top: -95px;
  position: relative;
  z-index: 5;

  .table-handler,
  .table-handler-footer {
    position: relative;
    background-color: #fff;
    box-shadow: 0 5px 17px 10px rgba(0, 0, 0, 0.14);
    padding: 50px;
  }

  table {
    width: 100%;
  }

  tbody {
    tr {
      td {
        padding-top: 0;
        padding-bottom: 0;
        vertical-align: top;
      }
      &:not(:last-of-type) {
        td {
          padding-bottom: 10px;
        }
      }
    }
  }

  th {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: normal;
    color: #000;
    line-height: 1.64;
    padding-bottom: 14px;

    &:first-of-type {
      text-align: left;
    }
  }

  td {
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    line-height: 1;
    color: #4a4a4a;

    &:first-of-type {
      text-align: left;
    }

    span {
      display: block;
      &:last-of-type {
        font-size: 14.7px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.79;
        letter-spacing: normal;
        color: #a5a5a5;
      }

      &.qty {
        font-size: 17px;
      }

      &.subtotal {
        font-size: 25px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        color: #000;
      }
    }
  }

  .table-handler-footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    position: relative;
    padding: 29px 79px 26px;

    > div {
      .tax {
        margin-top: 0;
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.7px;
        color: #4a4a4a;
      }
      .total {
        font-size: 56.6px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.4px;
        color: #1c549a;
      }
    }
  }

  .blur-overlay {
    height: 204px;
    background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(238, 238, 238, 0.01) 66%, #ffffff);
    position: absolute;
    // bottom: 11px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 7;
  }

  tr.isNewProduct {
    td {
      span {
        color: $darkblue;

        &.name {
          font-size: 30px;
          font-weight: 500;
        }
        &.subtotal {
          font-size: 30px;
          font-weight: 500;
        }
      }
    }
  }

  .table-handler {
    padding-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .adjusters {
      display: block;
      position: absolute;
      z-index: 9;
      width: 30px;
      height: 95px;
      background-color: #fff;
      bottom: -40px;

      &.left {
        left: -46px;
      }
      &.right {
        right: -46px;
        z-index: 16;
      }
    }
    
    &:before {
      content: " ";
      display: block;
      width: 80px;
      height: 60px;
      background-color: #fff;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      position: absolute;
      z-index: 8;
      left: -45px;
      bottom: -30px;
      box-shadow: inset -13px 0px 33px rgba(204, 204, 204, 0.5);
    }
    &:after {
      content: " ";
      display: block;
      width: 80px;
      height: 60px;
      background-color: #fff;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      position: absolute;
      z-index: 15;
      right: -45px;
      bottom: -30px;
      box-shadow: inset 13px 0px 33px rgba(204, 204, 204, 0.5)
    }
  }

  .table-handler-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    padding-top: 29px;
    border-top: 1px dashed #979797;
  }
}

.before-payment {
  > p {
    margin-bottom: 25px;
  }
  .edit-shopping-list {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.93;
    letter-spacing: normal;
    color: #5ebb00;
    justify-content: center;
    margin-bottom: 37px;
  
    img {
      width: 40px;
      height: auto;
      margin-right: 10px;
    }
  }
}
