.btn-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  button {
    max-width: 457px;
    margin-bottom: 46px;
  }
}
.checkout-section {
  background-color: #fff;
  box-shadow: 0 -2px 17px 0 rgba(0, 0, 0, 0.38);
  padding-top: 50px;
  padding-bottom: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;

  > div {
    padding-left: 61px;
    padding-right: 61px;
  }

  .popup-inner {
    margin-top: -20px;
  }

  p {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    display: block;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 44px;
  }

  .checkout-button {
    margin-bottom: 23px;
    padding-bottom: 20px;
    padding-top: 25px;

    > span {
      &:first-of-type {
        line-height: 65px
      }
      &:last-of-type {
        line-height: 45px
      }
    }
  }
}

.coupon-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  max-width: 888px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;

  p {
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.1px;
    color: $darkblue;
    margin-bottom: 0;
  }

  .coupon-number {
    > img {
      margin-right: 26px;
    }
  }

  .input-handler {
    max-width: 465px;
    width: 100%;
    height: 74px;
    border-radius: 3px;
    background: transparent;
    border: solid 1px #979797;
    display: flex;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > img {
      width: 50px;
    }
    
    input {
      background: transparent;
      display: inline-block;
      border: none;
      height: 100%;
      max-width: 350px;
      outline: none;
      font-size: 45px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 18.4px;
      color: #4a4a4a;
    }
  }

  > div {
    display: flex;
    align-items: center;
  }
}
