.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  position: fixed;
  z-index: 99;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  margin: 0;
  padding: 10px 0;

  img {
    max-width: 144px;
    height: auto;
  }
}