.home {
  padding-bottom: 40px;

  header {
    padding-left: 72px;
    padding-right: 72px;
    overflow: hidden;
  }
  
  .divider {
    margin-bottom: 145px;
  }
  hgroup {
    color: #fff;
    h1 {
      font-size: 144px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 25px;
    }
    h2 {
      font-size: 65px;
      font-weight: 400;
      display: block;
      max-width: 850px;
      list-style: 70px;
      margin: 0 auto;
      margin-bottom: 100px;
    }
  }
  .trigo-logo {
    margin-top: 76px;
    margin-bottom: 38px;
  }

  .shopping-cart-holder {
    position: relative;
    z-index: 3;
    margin-top: -185px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#nav {
  display: block;
  margin: 20px 0;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}