.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalBody {
  width: 713px;
  padding: 83px 48px 48px;
  position: relative;
  min-height: 200px;
  border-radius: 27px;
  background-color: #fff;
  box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.5);

  > button {
    padding: 0;
    position: absolute;
    right: 23px;
    top: 23px;
    display: flex;
    border: none;
    background: none;
    align-items: center;
    justify-content: flex-end;

    span {
      display: inline-block;
      margin-right: 12px;
      font-size: 21px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      color: #000;
    }
  }

  h3 {
    display: block;
    text-align: center;
    font-size: 47px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
}

.product-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;

  > img {
    margin-right: 34px;
    display: block;
    max-width: 120px;
    height: auto;
  }

  h4 {
    display: block;
    margin: 0;
    font-size: 28px;
    max-width: 302px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    color: #000;
  }
}

.modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    @include transition();
    border: none;
    display: inline-block;
    min-width: 163px;
    padding: 21px 24px;
    border-radius: 26px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.59;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase;

    &:first-of-type {
      margin-right: 27px;
    }

    &.btn-cancel {
      background-color: #dcdcdc;
      &:hover {
        background-color: #bebcbc;
        box-shadow: 0 10px 30px rgba(51, 51, 51, 0.267);
      }
    }
    &.btn-confirm {
      background-color: $danger;
      &:hover {
        background-color: darken($danger, 10%);
        box-shadow: 0 10px 30px rgba(133, 59, 59, 0.267);
      }
    }
  }
}
