.pay-now-page {
  @extend .header-defaults;
}

@keyframes jump-arr {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,10px,0) scale3d(.9,1.1,1);}
  100% {transform: translate3d(0,40px,0) scale3d(1.1,.9,1);}
}

.jump-arrow {
  transform-origin: 50% 50%;
  animation: jump-arr 1s linear alternate infinite;
}
