.shopping-list {
  @extend .header-defaults;

  .trigo-logo {
    max-width: 295px !important;
  }
}

.paynow-body {
  padding-bottom: 100px;
  h1 {
    margin-top: 85px;
    margin-bottom: 50px;
    display: block;
    font-size: 87.6px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $darkblue;
  }

  > img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:first-of-type {
      margin-top: 170px;
    }
    &:last-of-type {
      margin-bottom: 30px;
      max-width: 80px;
    }
  }
}