.shopping-flow {
  display: flex;
  margin-top: 40px;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;

  section {
    text-align: center;
    font-size: 28.6px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;

    &.active {
      color: $yellow;
    }

    > img {
      margin-bottom: 15px;
    }

    > img, > span {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.arrow {
      width: 180px;
      margin-left: 24px;
      margin-right: 24px;
      height: 2px;
      background-color: #003f8c;
      position: relative;
      transform: translateY(-17px);

      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        z-index: 1;
        right: 1px;
        top: -8px;
        border-right: 2px solid #003f8c;
        border-bottom: 2px solid #003f8c;
        transform: rotate(-45deg);
      }
    }
  }
}