.thank-you-page {
  @extend .header-defaults;
}

.thank-you-body {
  min-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    @include transition();
    opacity: 0;
    transform: translateY(100px);

    &.screenReady {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  img {
    margin-bottom: 50px;
  }

  h1 {
    font-size: 131.4px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.2px;
    text-align: center;
    color: $darkblue;
    text-transform: uppercase;
  }
  h2 {
    font-size: 85px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: $darkblue;
  }
}
