@mixin transition($time: 0.3s) {
  -webkit-transition: all $time;
  transition: all $time;
}

// clearfix
@mixin cf {
  box-sizing: border-box;
  &:after,
  &:before {
    content: " ";
    display: table;
  }
}