body {
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $heading-font-family;
	line-height: $heading-line-height;
	margin: 10px 0;
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
}

p {
	margin: 0 0 $small-spacing;
}

a {
	color: $action-color;
	text-decoration: none;
	transition: color $base-duration $base-timing;
	
	&:active,
	&:focus,
	&:hover {
		color: shade($action-color, 25%);
	}
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $base-spacing 0;
}

img,
picture {
	margin: 0;
	max-width: 100%;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	padding-top: 0;
}