body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.base-wrapper {
  @include cf();
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

button {
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

.back-button {
  display: flex;
  flex-flow: row nowrap;
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.1px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 40px;

  img {
    margin-right: 26px;
  }

  &:hover {
    color: $yellow;
  }

}

.divider {
  height: 1px;
  background-color: #00408e;
  // border: solid 1px #00408e;
  display: block;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
}

.text-center {
  text-align: center;
}

.app-btn {
  @include transition();
  text-align: center;
  color: #fff;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: $darkblue;
  box-shadow: 0 9px 44px -13px rgba(0, 113, 255, 0.6);
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;

  &:focus,
  &:hover {
    background-color: lighten($darkblue, 5%);
    box-shadow: 0 19px 44px -13px rgba(0, 113, 255, 0.4);
  }

  &.btn-danger {
    background-color: $danger;
    box-shadow: 0 9px 44px -13px $danger;
    &:focus,
    &:hover {
      background-color: lighten($danger, 5%);
      box-shadow: 0 9px 44px -13px #f43f36d0;
    }
  }

  &.disabled {
    background-color: #c4cad1;
    > span {
      color: #fff !important;
      &:last-of-type {
        color: #6e7d8e !important;
      }
    }
  }
}

.btn-middle {
  @extend .app-btn;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.05;
  letter-spacing: -1px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.app-btn-lg {
  @extend .app-btn;
  font-size: 62px;

  > span {
    display: block;

    &:last-of-type {
      font-size: 40px;
      color: $yellow;
      font-weight: bold;
    }
  }

  &.checkout-button {
    font-family: Roboto;
    font-size: 62.6px;
    line-height: 81px;
    font-weight: 500;
    padding-top: 34px;
    padding-bottom: 34px;
    margin-bottom: 40px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

button,
.back-button {
  @extend .noselect;
}
