$base-font-color: black;
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 16px;
$base-line-height: 1;
$base-spacing: 1em;
$small-spacing: $base-spacing / 2;

$heading-font-family: $base-font-family;
$heading-line-height: $base-line-height;

$blue: #222d4f;
$gray: lightgray;

$action-color: $blue;

$base-border: 1px solid $gray;

$base-duration: 0.2s;
$base-timing: ease;

// app colors
$darkblue: #1c549a;
$yellow: #f2c94c;
$danger: #f44036;
