.header-defaults {
  min-height: 700px;
  
  &.with-offset {
    margin-bottom: 300px;
  }

  header {
    padding: 40px !important;
    > img {
      margin-bottom: 50px;
    }
  }

  .round-addon {
    margin-top: -120px;
  }

  .homeheader {
    color: #fff;
    img {
      max-width: 295px;
      + p {
        font-size: 26px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.6px;
        color: #ffffff;
      }
    }
  }
}