<template>
  <div id="app-container">
    <router-view/>
  </div>
</template>

<script>
import * as dt from '../../mocks/products.json';
import Socket from "../socket";

export default {
  name: 'App',
  created() {
    // @FIXME: maybe check ajax e.t.c
    if(this.getProducts.length === 0) {
      const products = dt.map((item) => ({ ...item, expanded: false}));
      this.$store.commit('setProducts', products);
    }
    Socket.$on("message", this.handleMessage);
  },
  beforeDestroy(){
		Socket.$off("message", this.handleMessage);
  },
  methods: {
    handleMessage(msg){
      this.$store.commit('setTmpProducts', JSON.parse(msg));
		}
  },
  computed: {
    getProducts() {
      return this.$store.state.products.products;
    },
  }
}
</script>

<style lang="scss">
#app-container {
  overflow-x: hidden;
  max-width: 1080px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
</style>
