<template>
  <article :class="[{highligted: itemData.isNew}, 'cartItem']">
    <div class="cartItemHeader" @click="onToggle(itemData)">
      <section>
        <img :src="itemData.img" alt="@">
      </section>
      <section class="summary">
        <h3>{{itemData.name}}</h3>
        <p class="sku">SKU {{itemData.sku}}</p>
      </section>
      <section class="totals">
        <h3>{{inputData}}</h3>
      </section>
      <section class="price-section">
        <h3><span>&pound;</span>{{resolvePrice}}</h3>
        <span :class="[itemData.expanded ? 'up' : '', 'styled-triangle']"></span>
      </section>
    </div>

    <transition name="product-slide">
      <div v-if="itemData.expanded" class="cartItemFooter">
      <section>
        <!-- <button @click="onRemove(itemData.sku)"></button> -->
        <button @click="askUser(itemData)"></button>
      </section>
      <section>
        <div class="input-group">
          <button @click="onDecrease()"></button>
          <span>{{inputData}}</span>
          <button @click="onIncrease()"></button>
        </div>
      </section>
      <section>
        <button @click="onSubmit()">Ok</button>
      </section>
    </div>
    </transition>

  </article>
</template>

<script>

export default {
  name: 'CartItem',
  props: {
    itemData: Object,
    onToggle: Function,
    invokeConfirmation: Function,
  },
  data() {
    return {}
  },

  methods: {
    askUser() {
      this.$props.invokeConfirmation(this.$props.itemData);
    },
    onRemove(sku) {
      this.$store.dispatch('removeFromCart', this.$props.itemData.sku)
    },
    onIncrease() {
      this.$store.dispatch('increment', this.$props.itemData);
    },
    onDecrease() {
      if(this.$props.itemData.qty > 1) {
        this.$store.dispatch('decrement', this.$props.itemData);
      }
    },
    onSubmit() {
      this.$props.onToggle(this.$props.itemData);
    },
    getProducts() {
      return this.$store.state.producs.producs;
    },
  },

  computed: {
    resolvePrice() {
      const { itemData } = this.$props;
      return (itemData.qty * itemData.price).toFixed(1);
    },

    inputData() {
      const { itemData } = this.$props
      return `${itemData.qty}${itemData.measure}`
    }
    
  }
}
</script>
