<template>
  <transition name="slide-fade">
    <section v-if="getSubtotal > 0" class="checkout-section">
      <div class="base-wrapper">
        <transition name="slide-fade-fast">
        <div v-if="newProductsArrived" class="popup-inner">
          <p>Your shopping list has been updated</p>
          <div class="btn-group">
            <button @click="decline()" class="btn-middle btn-danger">
              Deny
            </button>
            <button @click="approve()" class="btn-middle">
              Apply
            </button>
          </div>
        </div>
        </transition>
        <button
          :class="[
            { disabled: newProductsArrived },
            'app-btn-lg', 'checkout-button'
          ]"
          @click="onCheckout()"
        >
          <span>Checkout</span>
          <span>Tolat: &pound;{{ getSubtotalRaw(true) }}</span>
        </button>
      </div>
    </section>
  </transition>
</template>

<script>
import CommonComputed from '../mixins/CommonComputed.js';
import CommonMethods from '../mixins/CommonMethods';

export default {
  name: 'CartPopup',
  mixins: [CommonComputed, CommonMethods],
  methods: {
    approve() {
      this.$store.commit('approve');
    },
    decline() {
      this.$store.commit('decline');
    },
    onCheckout() {
      if(!this.newProductsArrived)
        this.$router.push({ path: '/checkout' })
    }
  },
}
</script>
