<template>
  <div class="checkout-list-items">
      <div class="table-handler">
        <span class="adjusters left"></span>
        <span class="adjusters right"></span>
        <table>
          <thead>
            <tr>
              <th>ITME</th>
              <th>QTY</th>
              <th>Total</th>
            </tr>
          </thead>
          <template v-if="getTmpProducts.length > 0">
            <CheckoutTableList :products="getTmpProducts"></CheckoutTableList>
          </template>
          <template v-else>
            <CheckoutTableList :products="getProducts"></CheckoutTableList>
          </template>
        </table>
        <div class="blur-overlay"></div>
      </div>
      <div class="table-handler-footer">
        <div class="taxtotal">
          <h3 class="tax">Tax:</h3>
          <h3 class="total">Total:</h3>
        </div>
        <div class="numbers">
          <h3 class="tax">$30.2</h3>
          <h3 class="total">${{getSubtotal}}</h3>
        </div>
      </div>
    </div>
</template>

<script>
import CommonComputed from '../mixins/CommonComputed.js';
import CheckoutTableList from './CheckoutTableList.vue';
export default {
  name: 'CheckoutTable',
  components: {
    CheckoutTableList,
  },
  mixins: [CommonComputed],
}
</script>
