<template>
  <tbody>
      <tr
      :key="tProduct.sku"
      v-for="tProduct in $props.products"
      :class="{isNewProduct: tProduct.isNew}"
    >
      <td>
        <span class="name">{{tProduct.name}}</span>
        <span class="sku">{{tProduct.sku}}</span>
      </td>
      <td>
        <span class="qty">{{tProduct.qty}}</span>
        </td>
      <td>
        <span class="subtotal">${{calculateTotals(tProduct)}}</span>
      </td>
      </tr>
    </tbody>
</template>

<script>
export default {
  name: 'CheckoutTableList',
  props: { products: Array },
  methods: {
    calculateTotals(product) {
      return product.price * product.qty
    },
  }
}
</script>
