<template>
  <transition name="slide-fade">
    <section v-if="getSubtotal > 0" class="checkout-section">
      <div class="base-wrapper">
        <transition name="slide-fade-fast">
        <div v-if="newProductsArrived" class="popup-inner before-payment">
          <p>Your shopping list has been updated</p>
          <span class="edit-shopping-list">
            <img src="/assets/images/edit-pencil.jpg" alt="">
            <span @click="editMyShoppingList()" class="noselect">Edit my shopping list</span>
          </span>
          <div class="btn-group">
            <button @click="decline()" class="btn-middle btn-danger">
              Deny
            </button>
            <button @click="approve()" class="btn-middle">
              Apply
            </button>
          </div>
        </div>
        </transition>
        <button
          :class="[{ disabled: newProductsArrived },'app-btn-lg','checkout-button']"
          @click="onCheckout()"
        >
          <span>Pay Now</span>
          <span></span>
        </button>
      </div>
    </section>
  </transition>
</template>

<script>
import CommonComputed from '../mixins/CommonComputed.js';
export default {
  name: 'CheckoutPopup',
  mixins: [CommonComputed],
  methods: {
    editMyShoppingList() {
      this.$router.push('/shopping-list')
    },
    approve() {
      this.$store.commit('approve');
    },
    decline() {
      this.$store.commit('decline');
    },
    onCheckout() {
      if(!this.newProductsArrived)
        this.$router.push({ path: '/pay-now' })
    }
  },
}
</script>
