<template>
  <transition name="simple-fade">
    <div
    @click.self="$props.dismissModal()"
    v-if="$props.show" class="modal-backdrop"
  >
    <div class="modalBody">
      <button @click="$props.dismissModal()">
        <span>Cancel</span>
        <img src="/assets/images/close-icon.svg" alt="@">
      </button>

      <h3>Are you sure you wish to delete this item?</h3>
      <div class="product-body">
        <img :src="$props.itemData.img" alt="@">
        <h4>{{$props.itemData.name}}</h4>
      </div>
      <footer class="modalFooter">
        <button class="btn-cancel" @click="$props.dismissModal()">Cancel</button>
        <button class="btn-confirm" @click="$props.onConfirm()">Yes, delete</button>
      </footer>
    </div>
  </div>
  </transition>
</template>

<script>

export default {
  name: 'DelConfirmation',
  props: {
    show: Boolean,
    itemData: Object,
    dismissModal: Function,
    onConfirm: Function,
  },
}
</script>

<style>

</style>
