<template>
  <div>
    <header class="header">
      <slot></slot>
    </header>
    <span class="round-addon"></span>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style lang="scss">

</style>
