<template>
  <div class="shopping-flow">
    <section :class="[isActive('cart') ? 'active' : '']">
      <img :src="isActive('cart') ? cartActiveUrl : cartUrl" alt="@">
      <span>Overview</span>
    </section>
    <section class="arrow">
      <span class="line"></span>
    </section>
    <section :class="[isActive('card') ? 'active' : '']">
      <img :src="isActive('card') ? cardActiveUrl : cardUrl" alt="@">
      <span>Checkout</span>
    </section>
    <section class="arrow">
      <span class="line"></span>
    </section>
    <section :class="[isActive('check') ? 'active' : '']">
      <img :src="isActive('check') ? checkActiveUrl : checkUrl" alt="@">
      <span>Done</span>
    </section>
  </div>
</template>

<script>
export default {
  name: 'ShoppingFlow',

  data() {
    return {
      cartUrl: '/assets/images/cart.svg',
      cartActiveUrl: '/assets/images/cart.svg',
      cardUrl: '/assets/images/card.svg',
      cardActiveUrl: '/assets/images/card-active.svg',
      checkUrl: '/assets/images/check.svg',
      checkActiveUrl: '/assets/images/check-active.svg',
    };
  },
  props: {
    active: {
      type: Array,
      required: true,
      default: ['cart'] // cart, card, check
    },
  },
  methods: {
    isActive(item) {
      return this.$props.active.includes(item);
    }
  }
}
</script>

